# Virtual environment
/venv/
/.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Environment variables / secrets
.env
.env.*

# Static and media files
/staticfiles/
/media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.egg-info/

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# Django migrations
# Usually DO NOT ignore migrations
# migrations/